<div class="imageSlider" id="imageSlider" style="display: none;">
    <div class="imageSlider__content">
        <button class="close" onclick="$('#imageSlider').hide();">닫기</button>
        <div class="slider-for">
        </div>
        <div class="slider-nav">
        </div>
    </div>
</div>
