{% extends 'layout/base.njk' %}

{% block content %}
    {% include 'layout/header.njk' %}
    <div class="container">
        <div class="accounts">
            <div class="wrap">
                <form action="" method="POST">
            <div class="form">
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" value="{{ user.name }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="email" value="{{ user.email }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="number" value="{{ user.number }}" placeholder="연락처">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="nickname" value="{{ user.nickname }}" placeholder="닉네임">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="password" name="password" value="" placeholder="비밀번호" >
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="password" name="passwordCheck" value="" placeholder="비밀번호 확인">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-btnbox">
                <a href="/" class="cancel mr-1">취소</a>
                <button type="submit" class="submit">정보 수정</button>
            </div>

            <div style="display: none;">
                썸네일
                <img src="{{ user.thumbnail }}" id="userThumbnail" alt="">
                <input type="file" accept="image/*" name="thumbnail" onchange="changeThumbnail(this);">
            </div>
            <div style="display: none;">
                마지막 로그인
                <input type="text" value="{{ user.last_login | date('YYYY-MM-DD HH:mm:ss') }}" readonly>
            </div>
            <div style="display: none;">
                회원가입일
                <input type="text" value="{{ user.createdAt | date('YYYY-MM-DD HH:mm:ss') }}" readonly>
            </div>
        </form>
            </div>
        </div>
    </div>
    {% include 'layout/footer.njk' %}
{% endblock %}

{% block script %}
<script>
function changeThumbnail(field) {
    var formData = new FormData();
    formData.append('thumbnail', field.files[0]);
    $.ajax({
        url: '/mypage/thumbnail',
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
    }).done(function(data){
      if(data.success) {
        alert('썸네일이 변경 되었습니다.')
        $("#userThumbnail").attr('src', data.imgPath);
      } else {
        alert(data.message);
      }
    }).fail(function(error) {
        console.error(error);
    }).always(function(res){
    });
}
</script>
{% endblock %}

