{% extends 'layout/base.njk' %}

{% block content %}
    <div>
        <h1>QNA LIST</h1>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>답변 상태</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>
                        <a href="/qna/detail/{{ object.id }}">
                            {{ object.title }}
                            {% if object.is_secret %}
                                <span class="text-blue-300 text-sm">비밀글</span>
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ object.User.name }}</td>
                    <td>
                        {% if object.reply_content %}
                            <span class="">답변 완료</span>
                        {% else %}
                            <span class="">미답변</span>
                        {% endif %}
                    </td>
                    <td>{{ object.createdAt | date("YYYY-MM-DD") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/qna/create">1:1 문의 등록</a>
{% endblock %}

