
<div class="footer ">
        <div class="footer__logo">
            <a href="/"><img src="/static/images/footer-logo.png" alt=""></a>
        </div>
    <p>Copyright Co.BAEKSAN All Rights Reserved.</p>
</div>
