<style>
    .footer__links{margin-bottom: 10px;}
    .footer__links a {font-size: 14px;color:#999;display:inline-block;margin:0 5px;}
    .footer__links a:hover {color:#000;}
</style>
<div class="footer ">
    <div class="footer__logo">
        <a href="/"><img src="/static/images/footer-logo.png" alt=""></a>
    </div>
    <div class="footer__info" style="font-size:.875rem;color:#999;margin-bottom: 10px;">
        사업자 번호 : 718-87-00233<br/>
        상호 : 백산안경 | 대표자 : 김광열<br/>
        주소 : 서울시 강서구 공항대로 220 우성에스비타워 2차 1218호<br/>
        유선 : 02-2666-6710
    </div>

    <div class="footer__links">
        <a href="/orderinfo">배송/교환/환불 정보</a>
        <a href="/private">개인정보 처리방침</a>
        <a href="/terms">이용약관</a>
    </div>

    <p>Copyright Co.BAEKSAN All Rights Reserved.</p>
</div>
